[submodule "APP/webview-odin"]
	path = APP/webview-odin
	url = https://github.com/thechampagne/webview-odin.git
[submodule "webview"]
	path = webview
	url = https://github.com/webview/webview.git
[submodule "APP/osdialog"]
	path = APP/osdialog
	url = https://github.com/ttytm/osdialog-odin.git
